body {
  text-align: center;
}

.monospace {
    font-family: monospace;
}

.dark {
  background-color: #0f0804;
  color: #ffffee;
}

.light {
    background-color: #ffffee;
    color: #221108;
}

.black  {color: #0f0804;}
.red    {color: #cc4444;}
.green  {color: #44cc44;}
.yellow {color: #cccc44;}
.blue   {color: #4444cc;}
.purple {color: #aa44cc;}
.cyan   {color: #44cccc;}
.white  {color: #ffffee;}


.blackbg  {background-color: #0f0804;}
.redbg    {background-color: #cc4444;}
.greenbg  {background-color: #44cc44;}
.yellowbg {background-color: #cccc44;}
.bluebg   {background-color: #4444cc;}
.purplebg {background-color: #aa44cc;}
.cyanbg   {background-color: #44cccc;}
.whitebg  {background-color: #ffffee;}
